<form [formGroup] = "newFormGroup">
  <div class="field">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name">
  </div>
  <div class="field">
    <label for="price">Price</label>
    <input type="text" id="price" formControlName="price">
  </div>
  <div class="field">
    <label for="id">ID</label>
    <div class="generate_id">
      <input type="text" id="id" formControlName="id">
      <button type="button" (click)="generateButtonClick()">Generate ID</button>
    </div>
  </div>
  <div class="field">
    <label for="categories">
      <select name="categories" id="categories">
        <option value="cloth">Одежда</option>
        <option value="shoes">Обувь</option>
        <option value="medications">Лекарства</option>
        <option value="food">Еда</option>
        <option value="electronics">Электроника</option>
      </select>
    </label>
  </div>
  <button type="button" (click)="onSubmitButtonClick()">Submit</button>
</form>